* {
  box-sizing: border-box;
}
body {
  overflow: hidden;
}
.App {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 90vw;
  height: 100vh;
}
